<div class="container">
    
    <form role="form" ng-submit="addTodo()">
        <div class="row">
            <div class="input-group my-fade-animation">
                <input type="text" ng-model="task" placeholder="What needs to be done?" class="form-control">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add">
                </span>
            </div>
        </div>
    </form>
    
    <br/>
        
    <div class="row">
        <p class="input-group my-fade-animation" ng-repeat="todo in todos">
            <input type="text" ng-model="todo" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-danger" ng-click="removeTodo($index)">X</button>
            </span>
        </p>
    </div>
            
    <br/>
    
</div>